:root {
  /* colors */
  /* priamry */
  --cyan: hsl(172, 67%, 45%);

  /* neutrals */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);

  /* fonts */
  --font-primary: 'Space Mono', monospace;;

  /* font-weights */
  --font-bold: 700;

  /* font-sizes */
  --font-300: 1.5rem;

  /* spacing */
  --space-50: 0.25rem;
  --space-100: 0.75rem;
  --space-200: 1.25rem;
  --space-250: 1.75rem;
  --space-300: 2.25rem;
  --space-350: 2.75rem;
  --space-400: 3rem;
  --space-450: 4rem;
  --space-500: 5rem;
  --space-600: 8rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root and global variables end */
/* ninja */

body {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  font-size: var(--font-300);
  background-color: var(--light-grayish-cyan);
}

.txt-clr {
  color: var(--dark-grayish-cyan);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: var(--space-500);
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

img {
  padding: var(--space-100);
}

.main-section {
  display: flex;
  gap: var(--space-350);
  background-color: white;
  border-radius: var(--space-200);
  padding: var(--space-350);
}

.column-one {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-300);
}

.c1-gap {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.column-two {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-300);
  justify-content: space-between;
  color: white;
  background-color: var(--very-dark-cyan);
  padding: var(--space-400);
  border-radius: var(--space-100);
}

.column-two .per-person {
  font-size: .75rem;
  color: var(--grayish-cyan);
}

.c2-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.c2-line {
  justify-content: space-between;
  gap: var(--space-450);
}

.c2-txt {
  gap: var(--space-50);
}

.price-total {
  color: var(--cyan);
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.input-img {
  position: relative;
}

.input-img img {
  position: absolute;
  top: var(--space-100);
  left: var(--space-100);
}

input {
  color: var(--grayish-cyan);
  font-family: var(--font-primary);
  font-size: var(--font-300);
  padding: var(--space-100) var(--space-350);
  width: 100%;
  background-color: var(--very-light-grayish-cyan);
  border: 2px solid var(--very-light-grayish-cyan);
  border-radius: var(--space-50);
  text-align: right;
  cursor: pointer;
  outline: none;
}

input:focus {
  color: var(--very-dark-cyan);
  border: 2px solid var(--cyan);
}

.input-custom {
  text-align: center;
  padding: var(--space-100);
}

.bt-tip-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-100);
}

button {
  font-family: var(--font-primary);
  font-size: var(--font-300);
  padding: var(--space-100);
  border: none;
  cursor: pointer;
}

.bt-tip {
  flex: 1;
  color: white;
  background-color: var(--very-dark-cyan);
  border-radius: var(--space-50);
  width: 100%;
  padding: var(--space-100) var(--space-350);
}

.bt-tip:hover {
  color: var(--very-dark-cyan);
  background-color: var(--cyan);
}

.bt-reset {
  color: var(--very-dark-cyan);
  background-color: var(--cyan);
  border-radius: var(--space-50);
  width: 100%;
}

.bt-reset:hover {
  background-color: var(--light-grayish-cyan);
}

/* super basic responsive */
/* super basic responsive */
/* super basic responsive */

@media screen and (max-width: 948px) {
  body, button, input {
    font-size: 1rem;
  }

  .container {
    gap: var(--space-100);
  }

  .input-img img {
    position: absolute;
    top: var(--space-50);
    left: var(--space-50);
  }

  .main-section {
    display: flex;
    flex-direction: column;
    padding: var(--space-200);
  }

}